@model bla.Model.ChangePassword

<form asp-action="ChangePassword" method="post">

    <div class="d-flex justify-content-center align-items-center min-vh-90">
        
        <div class="col-md-6 col-lg-4">

            <h3 class="text-center mb-4">Change password</h3>

            <div class="mb-3">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="CurrentPassword" class="form-label">Write your current password</label><br />
                <input asp-for="CurrentPassword" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">Write your new password</label><br />
                <input asp-for="NewPassword" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm your new password</label><br />
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary w-100">Change password</button>

        </div>

    </div>
</form>