@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Youve found something you should'nt have, leave immediatly! The FBI will be there shortly. You brought this on your self.</p>
