@model ProjectViewModel

<form method="post" asp-Controller="Project" asp-action="CreateProject">
    <div class="d-flex justify-content-center align-items-center min-vh-90">

        <div class="col-md-6 col-lg-4">
            <h2>@ViewBag.ProjectCreateHeadline</h2>

            <div class="form-group-row">
                <label asp-for="Title" class="form-label">Enter a title for the project(max 100 characters)</label>
                <input asp-for="Title" type="text" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group-row">
                <label asp-for="Description" class="form-label">Describe the project in (max 200 characters)</label>
                <input asp-for="Description" type="text" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group-row">
                <label class="form-label">When did this project start and end?</label><br />
                <span asp-validation-for="StartDate" class="text-danger"></span><br />
                <input asp-for="StartDate" type="date" min="1900-01-01" max="2049-12-31" class="form-control" />

                <label class="form-label"> to </label>
                <input asp-for="Enddate" type="date" class="form-control" />
                <label class="form-label">- Don't enter a date here to state project as <q>Ongoing/not finished.</q></label>
            </div>

            <button type="submit" class="btn btn-primary">Create Project</button>
            <a asp-action="GetProject" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>