@model bla.Model.MessageVM
<div>
    <a asp-action="Messages" class="btn btn-primary">Back</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
</div>

<div class="my-4">
    <h2 class="d-inline">Sent from <q>@Model.Sender</q><span class="tinify"> - <i class="fa-solid fa-calendar"></i>@Model.SendDate</span></h2>
</div>
<p>@Model.MessageString</p>


