@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div>
    <p><i>Something has gone wrong?</i></p>

    <strong class="text text-danger"><q>@Model.ErrorMessage</q></strong>
</div>

<a href="/Home/Index" class="btn btn-secondary">Home</a>

