@model bla.Model.CvInfo.PersonalCharacteristicVM
<form asp-action="AddPersonalCharacteristic" method="post">
    <div class="d-flex justify-content-center align-content-center min-vh-100">
        <div class="col-md-6 col-lg-4">
            <h3 class="text-center mb-4">Personal Characteristic</h3>

            <div class="mb-3">
                <label asp-for="@Model.CharacteristicName" class="form-label"></label>
                <input type="text" asp-for="@Model.CharacteristicName" class="form-control" />
                <span asp-validation-for="CharacteristicName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Add</button>
        </div>
    </div>
</form>
