@model bla.Model.CvInfo.CvVM
<h2>Build your Cv</h2>

<form method="post" asp-action="BuildCv" enctype="multipart/form-data">
    <h3>Upload your image</h3>
    <div>
        <label>Cv Image</label> 
        @* <input asp-for="ImageFilePath" type="hidden" value="pic.png"/> *@
        <input asp-for="ImageFile" type="file" accept="image/*" class="form-control img-file-picker" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <button type="submit" class="d-block btn btn-primary">Create Cv</button>
</form>
 