@model bla.Model.CvInfo.InterestVM

<form asp-action="UpdateInterest" method="post">
    <div class="d-flex justify-content-center align-content-center min-vh-100">
        <div class="col-md-6 col-lg-4">
            <h3 class="text-center mb-4">Interest</h3>
            <input type="hidden" asp-for="InterestId" />
            <div class="mb-3">
                <label asp-for="@Model.InterestName" class="form-label"></label>
                <input type="text" asp-for="@Model.InterestName" class="form-control" />
                <span asp-validation-for="InterestName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Save Changes</button>
        </div>
    </div>
</form>
